<p id="notice"><%= notice %></p>

<p>
  <strong>Order num:</strong>
  <%= @put_repertory.order_num %>
</p>

<p>
  <strong>Project class:</strong>
  <%= @put_repertory.project_class %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @put_repertory.sum %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @put_repertory.total_price %>
</p>

<p>
  <strong>Express num:</strong>
  <%= @put_repertory.express_num %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @put_repertory.arrival_date %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @put_repertory.discount %>
</p>

<p>
  <strong>Discount price:</strong>
  <%= @put_repertory.discount_price %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @put_repertory.remarks %>
</p>

<p>
  <strong>Part:</strong>
  <%= @put_repertory.part %>
</p>

<%= link_to 'Edit', edit_put_repertory_path(@put_repertory) %> |
<%= link_to 'Back', put_repertories_path %>
