<%= render 'layouts/header' %>
<%= render 'layouts/edit_pop' %>
<!--
<p id="notice"><%= notice %></p>-->

<div id="put_repertory" class="container theme-showcase background-color-white yuanjiao yinying" role="main"><!-- 主体 -->
  <div class="container-service clearfix"><!-- 新建、搜索  -->
    <div class="container-service-header">
      <%= button_to "新建", new_put_repertory_path, method: "get", remote: true, :class => 'btn btn-lg btn-primary', 'data-toggle' => 'modal', 'data-target' => '.bs-example-modal-lg' %>

      <div class="container-service-header-right">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="搜索内容">
            </div>
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
      </div>
</div>
  </div><!-- 新建、搜索 end -->
  <div class="table-responsive"><!-- 表格  -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>序号</th>
        <th>订单号</th>
        <th>产品分类</th>
        <th>配件代码</th>
        <th>配件名称</th>
        <th>数量</th>
        <th>物流单号</th>
        <th>到货日期</th>
        <!--<th>备注</th>-->
        <th colspan="3">设置</th>
      </tr>
      </thead>
      <tbody>
      <% @put_repertories.each_with_index do |put_repertory,index|
         part = put_repertory.part
      %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= put_repertory.order_num %></td>
            <td><%= put_repertory.project_class %></td>
            <td><%= part.code %></td>
            <td><%= part.name %></td>
            <td><%= put_repertory.sum %></td>
            <td><%= put_repertory.express_num %></td>
            <td><%= put_repertory.arrival_date %></td>
            <!--<td><%#= put_repertory.remarks %></td>-->
            <td><%= link_to '查看', put_repertory, remote: true, 'data-toggle' => 'modal', 'data-target' => '.bs-example-modal-lg'  %></td>
            <td><%= link_to '修改', edit_put_repertory_path(put_repertory), remote: true, 'data-toggle' => 'modal', 'data-target' => '.bs-example-modal-lg' %></td>
            <td><%= link_to '删除', put_repertory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- 表格 end -->

  <div class="container-service-footer">
    <%= paginate @put_repertories, :theme => 'my_custom_theme' %>
  </div>
</div><!-- 主体 end -->
<script type="text/javascript" charset="utf-8">
    $('#put_repertory_nav').attr('class','active');
</script>

