<!-- 导航 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container navbar-height">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><a href="project.html">主页</a></li>
        <li id="put_repertory_nav">
          <%= link_to('入库',put_repertories_path) %>
        </li>
        <li id="out_repertory_nav">
          <%= link_to('出库',out_repertories_path) %>
        </li>
        <li><a href="service.html">服务报告信息</a></li>
        <li><a href="#contact">日历</a></li>
        <li id="user_nav">
          <%= link_to('技术员',users_path) %>
        </li>
        <li id="input_parts" >
          <%= link_to('配件录入',parts_path) %>
        </li>
        <li id="repertory_info" >
          <%= link_to('查看库存信息',repertory_info_path) %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户信息 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">信息1</a></li>
            <li><a href="#">信息2</a></li>
            <li><a href="#">信息3</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav><!--导航 end -->